.pos .product {
    position:relative;
    vertical-align: top;
    display: inline-block;
    line-height: normal;
    font-size: 14px;
    margin: 5px !important;

    width: 262px;
    height:255px;
    background:#fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    border-bottom-width: 3px;
    overflow: hidden;
    cursor: pointer;
}

.pos .product .product-img {
    position: relative;
    width: 260px;
    height: 240px;
    background: white;
    text-align: center;
}

.pos .product .product-img img {
    max-height: 240px;
    max-width:  260px;
    vertical-align: middle;
}







.stock-tag {
    position: absolute;
    top: 2px;
    left: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}

.screen .top-content .button.order_only{
    right: 0px;
    margin-right: 200px;
}
